{{template "rtccam_header.html"}}
<div id="videoContainer" class="videoContainer">
    <video class="fullscreen-video" id="localFullScreenVideo" muted></video>
</div>

<main class="container-flex">

    <section class="chat-window">
        <div class="chat-area" id="chatWindow">
        </div>
        <div class="input-area">
            <textarea placeholder="메시지 입력..." id="inputMessage"></textarea>
            <button type="button" onclick="broadCastDataChannelMessage()">보내기</button>
        </div>
    </section>

    <section class="participants" id="videoSection">
        <h1>로딩중......</h1>
    </section>

</main>



<footer class="room-info-footer" id="footer">
    <div id="footerRoomNumber"></div>
    <div id="footerRoomTitle"></div>
    <div id="footerRoomParticipants"></div>
    <div id="footerRoomIsPassword"></div>
</footer>

{{template "rtccam_footer.html"}}