{{template "rtccam_header.html"}}
<div id="videoContainer" class="videoContainer">
    <video class="fullscreen-video" id="localFullScreenVideo" muted></video>
</div>

<main class="container-flex">

    <section class="chat-window">
        <div class="chat-area" id="chatWindow">
        </div>
        <div class="input-area">
            <textarea placeholder="메시지 입력..." id="inputMessage"></textarea>
            <button type="button" onclick="broadCastDataChannelMessage()">보내기</button>
        </div>
    </section>

    <section class="participants" id="videoSection">
        <h1>로딩중......</h1>
    </section>

</main>



<footer class="room-info-footer" id="footer">
    <div id="footerRoomNumber"></div>
    <div id="footerRoomTitle"></div>
    <div id="footerRoomParticipants"></div>
    <div id="footerRoomIsPassword"></div>
    <div><button onclick="showUrlModal()">공개용 URL</button></div>
</footer>

<!-- 공개용 URL 창 -->
<div id="publicUrlModal" style="display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: white; padding: 20px; border: 2px solid black; border-radius: 10px; font-size: 10px; box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px;">
    <p>공개용 URL: <input type="text" id="publicUrl" value="없음" readonly></p>
    <button onclick="createPublicUrl()">생성</button>
    <button onclick="closeUrlModal()">닫기</button>
</div>
{{template "rtccam_footer.html"}}